Flask==3.1.3
opentelemetry-distro==0.61b0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-instrumentation-flask==0.61b0
opentelemetry-instrumentation-requests==0.61b0
opentelemetry-instrumentation-pymongo==0.61b0
requests
pymongo